body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#main-container {

    background-color: rgb(228, 234, 234);
    width: 70%;
    height: 80%;
}